# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Lambda build artifacts
package/
build/
dist/
*.zip

# Node / JS
node_modules/

# OS files
.DS_Store
Thumbs.db

# Editor files
*.swp
*.swo

# Environment
.env

